<div class="d-flex flex-column" data-bs-toggle="tooltip" data-bs-html="true"
    data-bs-title="Estatus de la orden de venta">
    {{{ switchOrder SO_STATUS SOTR_STATUS paylinksStatus WHM_STATUS_inull }}}
</div>